@page "/Account/Register"

@inject NavigationManager NavigationManager

<PageTitle>Registration</PageTitle>

<div class="row">
    <div class="col-lg-6">
        <h1>Invitation Only</h1>
        <p>Arelia is an invitation-only platform. You can only create an account if you have been invited by an organisation administrator.</p>
        <p>If you have received an invitation email, please use the link in that email to set up your account.</p>
        <a href="/Account/Login" class="btn btn-primary">Go to Login</a>
    </div>
</div>

@code {
    // Open registration is disabled. Accounts are created via invitation only.
}
